$font-family: "Sahel";
$black:#000000;
$white:#ffffff;
$blue300:#4C93FF;
$blue400:#0024FF;
$blue500:#5D7AEF;
$gray400:#707070;
$pink300:#FF29D5;
$red300:#FF3C3C;
$green200:#DCFFE9;
$green300:#09FF7C;
$green400:#00E353;
